<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Classificação</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Tabela de Classificação</h1>
    <table>
        <tr>
            <th>Campeonato Brasileirão</th>
            <th>Premier League</th>
            <th>La Liga</th>
            <th>Serie A</th>
        </tr>
        <tr>
            <td>1. Botago / Pontos 24</td>
            <td>1. Manchester City / Pontos 94</td>
            <td>1. Barcelona / Pontos 88</td>
            <td>1. Napoli / Pontos 90</td>
        </tr>
        <tr>
            <td>2. Palmeiras / Pontos 22</td>
            <td>2. Arsenal / Pontos 84</td>
            <td>2. Real Madrid / Pontos 78</td>
            <td>2. Lazio / Pontos 74</td>
        </tr>
        <tr>
            <td>3. Flamengo / Pontos 19</td>
            <td>3. Man. United / Pontos 75</td>
            <td>3. Atletico de Madrid / Pontos 77</td>
            <td>3. Inter / Pontos 72</td>
        </tr>
        <tr>
            <td>4. Atletico Mg / Pontos 18</td>
            <td>4. New Castle / Pontos 62</td>
            <td>4. Real Sociedad / Pontos 71</td>
            <td>4. Milan / Pontos 70</td>
        </tr>
        <tr>
            <td>5. Fluminense / Pontos 17</td>
            <td>5. Liverpool / Pontos 67</td>
            <td>5. Villarreal / Pontos 64</td>
            <td>5. Atalanta / Pontos 64</td>
        </tr>
        <tr>
            <td>6. Gremio / Pontos 17</td>
            <td>6. Brighton / Pontos 62</td>
            <td>6. Betis / Pontos 60</td>
            <td>6. Roma / Pontos 63</td>
        </tr>
        <tr>
            <td>7. Atletico Paranaense / Pontos 17</td>
            <td>7. Aston Villa / Pontos 61</td>
            <td>7. Osasuna / Pontos 53</td>
            <td>7. Juventus / Pontos 62</td>
        </tr>
        <tr>
            <td>8. São Paulo / Pontos 15</td>
            <td>8. Tottenham / Pontos 60</td>
            <td>8. Ath. Bilbao / Pontos 51</td>
            <td>8. Fiorentina / Pontos 56</td>
        </tr>
        <tr>
            <td>9. Cruzeiro / Pontos 14</td>
            <td>9. Brentford / Pontos 59</td>
            <td>9. Mallorca / Pontos 50</td>
            <td>9. Bologna / Pontos 54</td>
        </tr>
        <tr>
            <td>10. Internacional / Pontos 14</td>
            <td>10. Fulham / Pontos 52</td>
            <td>10. Girona / Pontos 49</td>
            <td>10. Torino / Pontos 53</td>
        </tr>
        <tr>
            <td>11. Fortaleza / Pontos 14</td>
            <td>11. Crystal Palace / Pontos 45</td>
            <td>11. Rayo Vallecano / Pontos 49</td>
            <td>11. A.C. Monza / Pontos 52</td>
        </tr>
        <tr>
            <td>12. Bragatino / Pontos 14</td>
            <td>12. Chelsea / Pontos 44</td>
            <td>12. Sevilla / Pontos 49</td>
            <td>12. Udinese / Pontos 46</td>
        </tr>
        <tr>
            <td>13. Santos / Pontos 13</td>
            <td>13. Wolverhampton / Pontos 41</td>
            <td>13. Celta de Vigo / Pontos 43</td>
            <td>13. Sassuola / Pontos 45</td>
        </tr>
        <tr>
            <td>14. Cuiába / Pontos 12</td>
            <td>14. West Ham / Pontos 40</td>
            <td>14. Cádiz / Pontos 42</td>
            <td>14. Empoli / Pontos 43</td>
        </tr>
        <tr>
            <td>15. Bahia / Pontos 9</td>
            <td>15. Bournemouth / Pontos 39</td>
            <td>15. Getafe / Pontos 42</td>
            <td>15. Salernitana / Pontos 42</td>
        </tr>
        <tr>
            <td>16. Corinthians / Pontos 9</td>
            <td>16. Nottigham Forest / Pontos 38</td>
            <td>16. Valencia / Pontos 42</td>
            <td>16. Lecce / Pontos 36</td>
        </tr>
        <tr>
            <td>17. Goias / Pontos 8</td>
            <td>17. Everton / Pontos 36</td>
            <td>17. Almeria / Pontos 41</td>
            <td>17. Verona / Pontos 31</td>
        </tr>
        <tr>
            <td>18. América Mg / Pontos 8</td>
            <td>18. Leicester / Pontos 34</td>
            <td>18. Real Valladolid / Pontos 40</td>
            <td>18. Spezia / Pontos 31</td>
        </tr>
        <tr>
            <td>19. Vasco da Gama / Pontos 6</td>
            <td>19. Leeds Unt. / Pontos 31</td>
            <td>19. Espanyol / Pontos 37</td>
            <td>19. Cremonese / Pontos 27</td>
        </tr>
        <tr>
            <td>20. Coritiba / Pontos 4</td>
            <td>20. Southampton / Pontos 25</td>
            <td>20. Elche / Pontos 25</td>
            <td>20. Sampdoria / Pontos 19</td>
        </tr>
    </table>
</body>
</html>
